

services:

  postgres:
    image: ankane/pgvector:latest
    container_name: document-qa-postgres
    environment:
      POSTGRES_DB: document_qa
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"



  ollama:
    image: ollama/ollama:latest
    container_name: document-qa-ollama
    ports:
      - "11434:11434"
    environment:
      OLLAMA_LOG_LEVEL: error
      GIN_MODE: release

    volumes:
      - ollama_data:/root/.ollama

    entrypoint: [ "/bin/bash", "-c", "\
          ollama serve & \
          sleep 5 && \
          ollama pull nomic-embed-text && \
          ollama pull tinyllama && \
          wait" ]


    healthcheck:
      test: ["CMD","ollama","list"]
      interval: 10s
      timeout: 5s
      retries: 10





  app:
    image: document-qa-app
    container_name: document-qa-app
    depends_on:
      ollama:
        condition: service_healthy
      postgres:
        condition: service_started

    ports:
      - "9090:9090"
    environment:
      SPRING_APPLICATION_NAME: Document-Q-A-System
      SERVER_PORT: 9090

      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/document_qa
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres

      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_SHOW_SQL: "true"

      SPRING_AI_OLLAMA_BASE_URL: http://ollama:11434
      SPRING_AI_MODEL_CHAT: ollama
      SPRING_AI_OLLAMA_CHAT_OPTIONS_MODEL: tinyllama

      SPRING_AI_OLLAMA_INIT_EMBEDDING_INCLUDE: "true"
      SPRING_AI_MODEL_EMBEDDING: ollama
      SPRING_AI_OLLAMA_EMBEDDING_OPTIONS_MODEL: nomic-embed-text

      SPRING_AI_VECTORSTORE_PGVECTOR_INITIALIZE_SCHEMA: "true"
      SPRING_DATASOURCE_AI_VECTORSTORE_PGVECTOR_DIMENSIONS: 768
      SPRING_DATASOURCE_AI_VECTORSTORE_PGVECTOR_INDEX_TYPE: HNSW
      SPRING_DATASOURCE_AI_VECTORSTORE_PGVECTOR_DISTANCE_TYPE: COSINE_DISTANCE
      SPRING_DATASOURCE_AI_VECTORSTORE_PGVECTOR_MAX_DOCUMENT_BATCH_SIZE: 10000

      SPRING_SERVLET_MULTIPART_MAX_FILE_SIZE: 5MB
      SPRING_SERVLET_MULTIPART_MAX_REQUEST_SIZE: 100MB

volumes:
  ollama_data:
